<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		
		<title>Paras Web</title>
		
		{% load static %}
		<!--=====================================================
			CSS Stylesheets
		=====================================================-->
		<link rel='stylesheet' type='text/css' href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel='stylesheet' type='text/css' href="{% static 'css/linea.css' %}">
		<link rel='stylesheet' type='text/css' href="{% static 'css/ionicons.min.css' %}">
		<link rel='stylesheet' type='text/css' href="{% static 'css/owl.carousel.css' %}">
		<link rel='stylesheet' type='text/css' href="{% static 'css/magnific-popup.css' %}">
		<link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}">
		
	</head>
	<body>
		
		
		<!--=====================================================
			Preloader
		=====================================================-->
		<div id='preloader' >
			<div class='loader' ></div>
			<div class='left' ></div>
			<div class='right' ></div>
		</div>
		
		
		<div class='main-content' >
			
			<!--=====================================================
				Page Borders
			=====================================================-->
			<div class='page-border border-left' ></div>
			<div class='page-border border-right' ></div>
			<div class='page-border border-top' ></div>
			<div class='page-border border-bottom' ></div>
			
			
			
			<!--=====================================================
				Menu Button
			=====================================================-->
			<a href='#' class='menu-btn' >
				<span class='lines' >
					<span class='l1' ></span>
					<span class='l2' ></span>
					<span class='l3' ></span>
				</span>
			</a>
			
			
			<!--=====================================================
				Menu
			=====================================================-->
			<div class='menu' >
				<div class='inner' >
					<ul class='menu-items' >
						
						<li>
							<a href='#' class='section-toggle' data-section='intro' >
								Home
							</a>
						</li>
						
						<li>
							<a href='#about' class='section-toggle' data-section='about' >
								About
							</a>
						</li>
						
						<li>
							<a href='#resume' class='section-toggle' data-section='resume' >
								Resume
							</a>
						</li>
						
						<li>
							<a href='#portfolio' class='section-toggle' data-section='portfolio' >
								Portfolio
							</a>
						</li>
						
						
						<li>
							<a href='#contact' class='section-toggle' data-section='contact' >
								Contact
							</a>
						</li>
						
						
					</ul>
				</div>
			</div>
			
			<div class='animation-block' ></div>
			
			
			<!--=====================================================
				Sections
			=====================================================-->
			<div class='sections' >
				
				<!--=====================================================
					Main Section
				=====================================================-->
				<section id='intro' class='section section-main active' >
					
					<div class='container-fluid' >
						<div class='v-align' >
							<div class='inner' >
								<div class='intro-text' >
									
									<h1>I'm Paras Yadav</h1>
									
									<p>
										A Programmer, Web Developer and Buddy From Earth
									</p>
									
									<div class='intro-btns' >
										
										<a href='#about' class='btn-custom section-toggle' data-section='about' >
											Discover More
										</a>
										
										<a href='#contact' class='btn-custom section-toggle' data-section='contact' >
											Contact Me
										</a>
										
									</div>
									
								</div>
							</div>
							
						</div>
						
					</div>
				
				</section>
				
				
				<!--=====================================================
					About Section
				=====================================================-->
				<section id='about' class='section about-section border-d' >
					
					<div class='section-block about-block' >
						<div class='container-fluid' >
							
							<div class='section-header' >
								<h2>
									I'm a <strong class='color' >Programmer</strong>
								</h2>
							</div>
							
							<div class='row' >
								
								<div class='col-md-4' >
									
									<ul class='info-list' >
										
										<li>
											<strong>Name:</strong>
											<span>Paras Yadav</span>
										</li>
										<li>
											<strong>Age:</strong>
											<span>23 Years</span>
										</li>
										
										<li>
											<strong>Hometown:</strong>
											<span>Rewari, Haryana</span>
										</li>

										<li>
											<strong>Residence:</strong>
											<span>India</span>
										</li>
										<li>
											<strong>Phone no.</strong>
											<span>+919306271325</span>
										</li>
									</ul>
									
								</div>
								
								<div class='col-md-8' >
								
									<div class='about-text' >
										<p>
											Hello, my name is Paras Yadav and I am a computer science and engineering student at the Amity School of Engineering and Technology. I have experience working as a Python developer, backend developer, and web developer for companies such as Cppsecrets, Shackti Ayurvedics, and Board of School Education Haryana. Some of my technical skills include Python, Django, Flask, Java, Docker, Tkinter, HTML, CSS, Linux, ML/AI, MySQL, and SQLite. I have also completed personal projects such as a Smart Traffic Light with Pedestrian Detection System, Blood Donation Website, Sudoku Solver with GUI, Car Game, and WhatsApp Msg Bomber.
										</p>
										
										<p>
											I am also certified in SQL (Intermediate) by HackerRank. I am always looking for new opportunities to learn and grow, and am excited to see what the future holds.
										</p>
										
									</div>
									
									<div class='about-btns' >
										
										<a href='#resume' class='btn-custom btn-color section-toggle' data-section='resume' >
											Resume
										</a>
										
										<a href='#contact' class='btn-custom btn-color section-toggle' data-section='contact'>
											Contact Me
										</a>
										
									</div>
									
								</div>
								
							</div>
							
						</div>
					</div>
					
					<div class='section-block services-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>My <strong class='color' >Services</strong></h2>
								
							</div>
							
							
							
							<div class='row' >
								
								<div class='col-md-4' >
									<div class='service' >
										
										<div class='icon' >
											<i class='icon-basic-display' ></i>
										</div>
										
										<div class='content' >
											
											<h4>Web Development</h4>
											
											<p>
												Ei constituam theophrastus per, sea dolorum disputationi in, vel menandri suavitate similique in. Vide assum conceptam eum.
											</p>
											
										</div>
										
									</div>
								</div>
								
								<div class='col-md-4' >
									<div class='service' >
										
										<div class='icon' >
											<i class='icon-basic-keyboard' ></i>
										</div>
										
										<div class='content' >
											
											<h4>Programming</h4>
											
											<p>
												Ei constituam theophrastus per, sea dolorum disputationi in, vel menandri suavitate similique in. Vide assum conceptam eum.
											</p>
											
										</div>
										
									</div>
								</div>
								
								<div class='col-md-4' >
									<div class='service' >
										
										<div class='icon' >
											<i class='icon-basic-photo' ></i>
										</div>
										
										<div class='content' >
											
											<h4>WordPress</h4>
											
											<p>
												Ei constituam theophrastus per, sea dolorum disputationi in, vel menandri suavitate similique in. Vide assum conceptam eum.
											</p>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class='section-block skills-block' >
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>
									My <strong class='color' >Skills</strong>
								</h2>
								
							</div>
							<div class='row' >
								<div class='col-md-6' >
									{% for sk in skill %}
									{% if forloop.counter|divisibleby:2 %}
									<p></p>
									{% else %}
										<div class='skill' >
											<h4> {{sk.name}} </h4>
											<div class='bar' >
												<div class='percent' style='width:{{sk.percentage}}%;' ></div>
											</div>
										</div>
									{% endif %}
									{% endfor %}
								</div>
								<div class='col-md-6' >
									{% for sk in skill %}
										 {% if forloop.counter|divisibleby:2 %}
									<div class='skill' >
										<h4> {{sk.name}} </h4>
										<div class='bar' >
											<div class='percent' style='width: {{sk.percentage}}%;' ></div>
										</div>
									</div>
								
								{% endif %}
								{% endfor %}
							</div>
							</div>
						</div>
					</div>
					
				</section>
				
				
				<!--=====================================================
					Resume Section
				=====================================================-->
				<section id='resume' class='section resume-section border-d' >
					
					<div class='section-block timeline-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>My <strong class='color' >Education</strong></h2>
								
							</div>
							
							<ul class='timeline' >
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>Suraj School (CBSE)</h4>
										
										<em>
											<span>X Class</span>
											<span>2015-2016</span>
											<span>Kosli,HR</span>

										</em>
										<ul>
										<li>
											<p><Strong>Marks: </Strong> 93%</p>
										</li>
										</ul>
									</div>
									
								</li>
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>Suraj School (CBSE)</h4>
										
										<em>
											<span>XII Class</span>
											<span>2016-2018</span>
											<span>Kosli,HR</span>
										</em>

										<ul>
											<li><p> <strong>Subject :</strong> Physics / Chemistry / Mathematics</p> </li>
											<li>
												<p><Strong>Marks: </Strong> 83%</p>
											</li>
										</ul>
										
									</div>
									
								</li>
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>Amity School of Engineering and Technology</h4>
										
										<em>
											<span>Bachelor's Degree</span>
											<span>2013-2016</span>
											<span>Noida,UP</span>
										</em>
										
										<p><ul>
											<li><p><Strong>Major:</Strong> Computer Science &
												Engineering</p></li>											<li><p><Strong>Grade: </Strong> 7.14</p></li>
										</ul>
										</p>
										
									</div>
									
								</li>
								
								
								
							</ul>
							
						</div>
						
					</div>
					
					<div class='section-block timeline-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>My <strong class='color' >Experience</strong></h2>
								
							</div>
							
							<ul class='timeline' >
								{% for ex in exp %}
								<li>
									<div class='timeline-content' ><h4> {{ex.profile}} </h4>
										<em>
											<span> {{ex.employer}} </span>
											<span> {{ex.time}} </span>
											<span> {{ex.location}} </span>
										</em>
										<p>
											<strong> {{ex.company_description}} </strong>
											</p> <br><p>
											{{ex.job_description|linebreaks }}
										</p>
									</div>
								</li>
								{% endfor %}

							</ul>
							
						</div>
						
					</div>
					
					
					<div class='section-block portfolio-block'  >
						
						<div class='container-fluid' >
							
							
							<div class='section-header' >
								<h2>My <strong class='color' >Achievement</strong></h2>
							</div>
							
							<ul class='portfolio-filters' >
								<li>
									<a href='#' class='active' data-group='all' >
										All
									</a>
								</li>
								<li>
									<a href='#' data-group='certificate' >
										Certification
									</a>
								</li>
								<li>
									<a href='#' data-group='achievement' >
										Achievement
									</a>
								</li>
							</ul>
							
							<ul class='portfolio-items' >
								{% for por in certi %}
								
								<li data-groups='["{{por.group}}"]' >
									<div class='inner' >
										<img src="{{ por.imageURL }}"alt>
										
										<div class='overlay' >
											
											<a href='#popup-{{por.id}}' class='view-project' >
												View Project
											</a>
											
											<!--project popup-->
											<div id='popup-{{por.id}}' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>
													
													<!--project popup image-->
													<img src="{{ por.imageURL }}"alt>
												
												</figure>
												<div class='content' >
													
													<!--project popup title-->
													<h4>{{ por.title }}</h4>
													
													<!--project popup description-->
													<p> {{ por.description|linebreaks }} </p>
													
												</div>
												
											</div>
											
										</div>
										
									</div>
								</li>
								{% endfor %}

							</ul>
						</div>
					</div>


					<div class='section-block testimonials-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>My <strong class='color' >Clients</strong></h2>
								
							</div>
							
							
							<div class='testimonials-slider' >
							
								{% for tes in test %}
								
								<div class='testimonial' >
									
									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>
									
									<p> {{tes.description|linebreaks}} </p>
									
									<div class='author' >
										<h4> {{tes.name}} </h4>
										<span> {{tes.position}} </span>
									</div>
									
								</div>
								{% endfor %}
								
								
							</div>
							
						</div>
						
					</div>
					
				</section>
				
				
				<!--=====================================================
					Portfolio Section
				=====================================================-->
				<section id='portfolio' class='section portfolio-section border-d' >
					
					<div class='section-block portfolio-block' >
						
						<div class='container-fluid' >
							
							
							<div class='section-header' >
								<h2>My <strong class='color' >Works</strong></h2>
							</div>
							
							<ul class='portfolio-filters' >
								<li>
									<a href='#' class='active' data-group='all' >
										All
									</a>
								</li>
								<li>
									<a href='#' data-group='web' >
										Web
									</a>
								</li>
								<li>
									<a href='#' data-group='tech' >
										Tech
									</a>
								</li>
							</ul>
							
							<ul class='portfolio-items' >
								{% for por in port %}
								
								<li data-groups='["{{por.group}}"]' >
									<div class='inner' >
										<img src="{{ por.imageURL }}"alt>
										
										<div class='overlay' >
											
											<a href='#popup-{{por.id}}' class='view-project' >
												View Project
											</a>
											
											<!--project popup-->
											<div id='popup-{{por.id}}' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>
													
													<!--project popup image-->
													<img src="{{ por.imageURL }}"alt>
												
												</figure>
												<div class='content' >
													
													<!--project popup title-->
													<h4>{{ por.title }}</h4>
													
													<!--project popup description-->
													<p> {{ por.description|linebreaks }} </p>
													
												</div>
												
											</div>
											
										</div>
										
									</div>
								</li>
								{% endfor %}

							</ul>
						</div>
					</div>


				</section>
				
				
				<!--=====================================================
					Contact Section
				=====================================================-->
				<section id='contact' class='section contact-section border-d' >
					
					<div class='section-block contact-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								<h2>Contact <strong class='color' >Me</strong></h2>
							</div>
							
							
							<div class='row' >
							
								<div class='col-md-8' >
									
									<div class='contact-form' >
									
										<form id='contact-form' method='post' action="{% url 'send' %}" >

											{% csrf_token %}
										
											<div id='contact-form-result' ></div>

											<div class='row' >
												
												<div class='col-md-6' >
													<div class='form-group' >
														
														<input type='text' class='form-control' placeholder='Name' name='name' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>
												
												<div class='col-md-6' >
													<div class='form-group' >
														
														<input type='email' class='form-control' placeholder='Email' name='email' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
											</div>
											
											<div class='form-group' >
												
												<input type='text' class='form-control' placeholder='Subject' name='subject' required>
												<div class='help-block with-errors' ></div>
											
											</div>
											
											<div class='form-group' >
												
												<textarea class='form-control' placeholder='Message' name='message' rows='5' required></textarea>
												<div class='help-block with-errors' ></div>
												
											</div>
											
											<div class='form-group text-center' >
												<button type='submit' class='btn-custom btn-color' 
													>Send Message
													</button>
											</div>
											
										</form>
										
									</div>
									
									
								</div>
								
								<div class='col-md-4' >
									
									<div class='contact-info-icons' >
										
										<div class='contact-info' >
											
											<i class='ion-ios-telephone-outline' ></i>
											
											<p>
												(+91) 9306271325 <br>
												(+91) 9466729680
											</p>
											
										</div>
										
										
										<div class='contact-info' >
											
											<i class='ion-android-globe' ></i>
											<p>
												Parasy787898@gmail.com
												<br>
												www.paras787898.tech
											</p>
										</div>
										
										
										<div class='contact-info' >
											
											<i class='ion-social-github' ></i>
											
											<p>
												github.com/parasy787898<br>
												linkedin.com/in/parasy
											</p>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		
		
		<!--=====================================================
			JavaScript Files
		=====================================================-->
		<script src="{% static 'js/jquery.min.js' %}" ></script>
		<script src="{% static 'js/jquery.shuffle.min.js' %}" ></script>
		<script src="{% static 'js/owl.carousel.min.js' %}" ></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}" ></script>
		<script src="{% static 'js/validator.min.js' %}" ></script>
		<script src="{% static 'js/script.js' %}" ></script>

		<script>
			setTimeout((function() {
				document.getElementById('msg').classList.add("hidden");

				
			}, 500))
		</script>
		
	</body>
</html>